.DS_Store
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging
*.egg-info/
dist/
build/

# neo4j local volumes
data
logs

# ignore pulled repository
attack-stix-injestion/resources/mitre-attack-data
